* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #f6f8f9;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #ff0000;
}

.d-flex {
  display: flex;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}
